@font-face {
  font-family: "Sackbones";
  font-style: normal;
  src: url("./fonts/sackbones_sports/SACKBONES.ttf");
  src: local(""), url("./fonts/sackbones_sports/SACKBONES.otf") format("opentype");
}
