* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Sackbones;
}

/* utilities css classes */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.margin-bottom-20 {
  margin-bottom: var(--margin);
}

.padding {
  padding: var(--margin);
}

/* web page layout */
html,
body,
.body-section * {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bkgColor);
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

#body-main,
#viz-container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.body-section {
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.home-item {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

#left-home-container {
  width: var(--homeLeftOffset);
  height: 100%;
  background-color: #ecf0f3;
  border-right: 1px solid #ccc;
}

#right-home-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}

#home-absolute-div {
  height: 100%;
  position: absolute;
  top: 50%;
  left: var(--homeLeftOffset);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#ballon-or-img {
  height: 75%;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#home-absolute-div .tip-panel {
  font-weight: normal;
}

.main-font {
  font-size: 4rem;
  opacity: 0.5;
}

#data-viz-home-text:first-letter {
  font-size: 4rem;
  color: var(--yellowishColor);
}

#data-viz-home-text {
  font-size: 2rem;
}

#scroll-down-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scroll-down-container img {
  width: 60px;
  animation: 1.5s slide-down ease-in infinite;
}

.viz-section {
  display: flex;
}

nav {
  width: var(--navbarWidth);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--margin) 0;
}

#sports-ai-logo {
  width: 40%;
}

.dots-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 3px;
}

.dots-container .dot {
  width: var(--dotSize);
  height: var(--dotSize);
  background-color: #b0b0b0;
  border-radius: 50%;
  cursor: pointer;
}

.dots-container .dot.active {
  background-color: #020202;
}

#chart-nb {
  opacity: 0.5;
  font-size: 2.4rem;
}

#viz-container section {
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#viz-container section .section-header {
  width: 100%;
}

#viz-container section .section-header .section-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#viz-container section .section-header p {
  color: var(--textColor);
}

#viz-container section .svg-body {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--margin);
}

@keyframes slide-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
