* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Sackbones;
}

/* utilities css classes */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* web page layout */
html,
body,
main {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bkgColor);
  display: flex;
  overflow: hidden;
}

main,
nav {
  height: 100%;
}

main {
  flex: 1;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

nav {
  width: var(--navbarWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#sports-ai-logo {
  width: 40%;
}

.dots-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 3px;
}

.dots-container .dot {
  width: var(--dotSize);
  height: var(--dotSize);
  background-color: #b0b0b0;
  border-radius: 50%;
  cursor: pointer;
}

.dots-container .dot.active {
  background-color: #020202;
}

main section {
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* svg charts styles */
.full-size-svg {
  width: 100%;
  height: 100%;
}
