/* svg charts styles */
.full-size-svg {
  width: 100%;
  height: 100%;
}

.basic-svg-size {
  width: 80%;
  height: 90%;
}

.axis-text {
  transform-origin: center;
  transform-box: fill-box;
  text-anchor: middle;
}

.button-text {
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
  user-select: none;
}

.button-rect {
  fill: #f4f6f4;
  cursor: pointer;
  stroke: #362023;
  rx: 3;
}

.legend .legendTitle {
  fill: var(--textColor);
}
