:root {
  --bkgColor: #fff;
  --secondaryBkgColor: #f4f6f4;
  --textColor: #5f697d;

  --yellowishColor: #ffcf4d;

  --mane: #4682b4;
  --benzema: #6f4e7c;
  --mbappe: #ffa056;

  --navbarWidth: 50px;
  --dotSize: 5px;
  --margin: 20px;

  --homeLeftOffset: 300px;
  --playerTeamLogoSize: 38px;
}
